@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.card{
    padding-bottom: 10vh;
}
.link {
    text-decoration: none;
}
.card_destaque {
    margin-top: 10vh;
    height: 90vh;
}

.card_vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, rgb(38, 38, 38) 10%, transparent 90% );
}

.card_horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, rgb(38, 38, 38) 4%, transparent 96% );
}

.titulo {
    padding-top: 50vh;
    padding-left: 5vh;
    font-size: 60px;
    font-weight: bold;
    color: blueviolet;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.descrição {
    margin-top: 2vh;
    padding-left: 5vh;
    font-size: 20px;
    color: #999;
    max-width: 50%;
}

@media (max-width:760px) {
    .card_destaque {
        height: 70vh;
        margin-bottom: 10vh;
    }
    .titulo {
        font-size: 40px; 
        padding-top: 40vh;   
    }  
    .descrição { 
        font-size: 14px;
        max-width: 100%;
        padding-right: 5vh;
    }
   }
