@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.hide {
  display: none;
}

.show {
  display: block;
  background-color: #141414;
  opacity: 95%;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 60vh;
  position: fixed;
  top: 10vh;
  z-index: 100;
}

.series_show{
  display: block;
}

.series_hide{
  display: none;
}

.filmes_show{
  display: block;
}

.filmes_hide{
  display: none;
}


.ul{
  height: 80vh;
  width: 50vh;
  align-items: center;
  list-style-type: none; 
}

.ul li{
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #d4c1d4;
  text-decoration: none;
  margin-top: 1px;
}


.ul li span{
  font-size: 2.5vh;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #a130a1;
  text-decoration: none;
  padding-top: 1px;
}

.side_button{
    height: 8vh;
    width: 8vh;
    position: fixed;
    left: 5vh;
    background-color: #141414;
    opacity: 95%;
    border: #141414;;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 0.5%;
}
  
 
  