
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.navbar {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    align-items: center;
    background-color: #141414;
    opacity: 95%;
    z-index: 100;
    position: fixed;      
}

.navbar :Link {  
    z-index: 99999;
    position: relative;
    display: flex;
    color:blueviolet;
    text-decoration: none;   
    width: 20vh;
    height: 70%;
    margin-left: 45%;
    margin-right: 65%;
}

.navbar button{
    background-color: #141414;
    opacity: 95%;
    border: #141414;;
    color: #fff;
    cursor: pointer;
    size: 50vh;
    padding-left: 5vh;
  }

.navbar input{
    display: block;
    background-color: #141414;
    opacity: 95%;
    border: #141414;;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100vh;
    position: fixed;
    right: 0vh;
    top: 10vh;
    z-index: 100;
  }
  
.search_button{
    margin-right: 5vh;
    height: 7vh;
    width: 8vh;
    position: fixed;
    right: 0vh;
    top: 10vh;
    z-index: 100;    
  }

.search_container_open {
    display: block;
  }

.search_container_hide {
    display: none;
}

.open_button{
    height: 8vh;
    width: 8vh;
    position: fixed;
    right: 10vh;
    background-color: #141414;
    opacity: 95%;
    border: #141414;;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 0.5%;
}

.navbar form button:hover{
    background-color:rgb(188, 49, 162); 
}

@media (max-width:760px) {
    .navbar :Link {  
        margin-left: 35%;
    }
    .navbar input{
        margin-left: 40%;

    }
   }



