.card{
    color: rgb(237, 231, 231);
    font-size: 2.0rem;
    text-align: center;
    align-items: center;
    margin: 2rem 0 1rem; 
    color: #FFF;
    width: 250px;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(99, 102, 102);
    padding: 1rem;

}


.card p {
    display: flex;
    text-align: center;
    font-size: 25px
}

.card h2 {
    display: flex;
    text-align: center;
    font-size: 25px
}


.card img {
    padding: 1rem;
    max-width: 100%;
}

.card svg{
    color: gold;
}

.card button{
    background-color: #e9e3eb ;
    color: rgb(8, 8, 8);
    padding: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    width: 150px;
    border-radius: 50px;
}

.add{
    background-color: #9217bb ;
    color: black;
    padding: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    border-radius: 50px; 
}

.card img,
.card h2,
.card p{
    margin-bottom: 1rem;
 }
