.BtnTitulo{
    width: 25vh;
    height: 15vh;
    border-radius: 50px;
    background-color: blueviolet;
    font-size: xx-large;
    color: azure;
    margin-top: 5vh;
    align-items: center;
    cursor: pointer;
    border: solid 1px blueviolet ;
}